
    
        p{
            text-align:center;
            color:rgb(109, 84, 88);
            margin-top: 0px;
            margin-bottom: 0px;
           
        }

        body {
            background-color: rgb(125, 177, 125);
            margin:0px;
            padding-top:70px;
            border-bottom: 1px solid rgb(175, 173, 173)
        }

        .doc-heading{
            font-family:Arial;
            font-weight: Bold;
            text-align:center;
            text-decoration:wavy;
            margin-top: 0px;
            margin-bottom: 10px;
            color:rgb(104, 95, 184); 
            font-size:large

        }

        .dp{ 
            text-align:center;
            margin-bottom:150px;
            height:100px;
            margin:auto;
        }
          
        .image{
            display:flex;
            justify-content: center;
        }
        

    

        .author{
            color:rgb(247, 146, 165)
        }
        
    /* AI Help */
    @media screen and (orientation: landscape) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

    .feedback-area{
        background-color: darkblue;
    }    

                             
    

    .socials{
        display:flex;
        border-radius: 50px;
        border: 2px solid black;
        align-items: start;
        flex-direction: row;
    }                